<p> 
    une nouvelle demande de contact a ete reçu
</p>

<ul> 
    <li>  Nom: {{data.name}} </li>
    <li>  Nom: {{data.name}} </li>

</ul>

<p> 
    <strong> Message</strong>: <br/>
    {{data.message | nl2br }}
</p>